@charset "utf-8";

.inner{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}


.skills-header{
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.main-nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.fa-3x{
  color: #777;
  margin: 15px 0px;
}
.contact-btn{
  color: #ffffff;
  background-color: #6ba7ed;
  font-size: 12px;
  padding: 12px 14px;
}
.main-nav a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}
.contact-btn a:hover{
  color: #333;
  transition: all 3s;
}


.keyvisual{
  padding-top: 78px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:url(../img/keyvisual/keyvisual.jpg)
}
.keyvisual-inner{
  text-align: center;
  padding: 400px 0;
}
.main-title{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin: 0 0 30px 0;
}
.sub-title{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.work{
  background-color: #e3f2fd;
  padding-top: 50pX;
}
.work-inner{
  display: flex;
  justify-content:space-around;
}
.pc{
  width: 250px;
}
.work-art{
  text-align:center;
  max-width: 660px;
}
.work-title{
  font-size: 40px;
  letter-spacing: 10px;
  margin: 20px 0 35px 0;
}
.work-txt{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}


.skills{
  background-color: #fff;
  padding: 50px 0 70px 0;
}
.skills-inner{
  background-color: #fff;
}
.skills-title{
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.pics{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  list-style: none;
}
.pics img {
  width: 100%;
}
.pic{
  margin: 100px 100px 0 0;
  width: calc(100% / 3 - 100px);
  opacity: 0.7;
  transition: 0.7s;
}
.pic:hover{
  opacity: 1.0;
  transition: 0.7s;
}
.pic:nth-child(3n){
  margin-right: 0;
}
.pic:nth-child(1), .pic:nth-child(2), .pic:nth-child(3){
  margin-top: 0;
}


.plan{
  background-color: #d0dfee;
  padding: 50px 0;
}
.plan-title{
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.plan-table{
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  table-layout: fixed;
  width: 100%;
}
.noborder{
  border: none;
  font-weight: bold;
}
table th, table td{
  padding: 10px;
  border-left: 2px solid #fff;
}
table th{
  background-color: #6ba7ed;
}
table tr{
  background-color: #f9f9f9;
}
table tr:nth-child(odd){
  background-color: #e0efff;
}


.sns{
  background-color: #e3f2fd;
  padding: 200px 0;
}
.sns-nav{
  display: flex;
  justify-content:center;
  text-align: center;
}
.sns-nav div{
  width: 185px;
  padding: 25px 0;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  background-color: #e3f2fd;
  transition: 0.5s;
}
.sns-nav div:hover{
  background-color: #fff;
  transition: 0.5s;
}


.footer{
  background-color: #cfd8dc;
  padding: 20px 0;
}
.footer-art{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: end;
}